<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить клиента</title>
</head>
<body>
    <h1> Добавить клиент </h1>

    <form method="get" th:action="@{'/client/add'}">
        <span>id</span>
        <input name="id" type="number">
        <span>name</span>
        <input name="name" type="text">
        <button type="submit">submit</button>
    </form>
<!--    http://localhost:8189/app/client/add?id=250&name=Oleg-->
</body>
</html>